<header>
		<!-- navbar. when the links are clicked the page should autoscroll to that section -->
	<nav>
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Sign Up</li>
		</ul>
	</nav>
</header>


<div id="home">
	<form>
		<!-- Field: email -->
		<!-- Field: password -->
		<!-- SUBMIT BUTTON -->
	</form>

</div>

<div id="about">
	<!-- brief explanation of what we do. Possibly talk about email alerts keeping you on track -->
	<!-- screenshots of a checklist example -->
</div>

<div id="register">
	<form>
		<!-- Socery Section -->
			<!-- Field: email -->
			<!-- Field: password -->
		<!-- Field: first_name -->
		<!-- Field: last_name -->
		<!-- Field: grad_date -->
		<!-- Field: application -->
		<!-- Field: gender -->
		<!-- Field: city -->
		<!-- Field: state -->
		<!-- SUBMIT BUTTON -->
	</form>
</div>

<footer>
	<!-- Footer -->
		<!-- contact info -->
		<!-- last updated -->
</footer>

