<header>
		<!-- navbar. when the links are clicked the page should autoscroll to that section -->
	<nav>
		<ul>
			<li>Home</li>
			<li>About Us</li>
			<li>Sign Up</li>
		</ul>
	</nav>
</header>


<div id="home">
	<form>
		<input type="email" name="email" placeholder="email">
		<input type="password" placeholder="password">
		<input type="submit" value="Log In">
	</form>

</div>

<div id="about">
	<p>We are College Tracker! We track your colleges! Actually, you track the colleges, we just provide the application.</p>
	<!-- screenshots of a checklist example -->
</div>

<div id="register">
	<form class="container">
		<!-- Socery Section -->
			<!-- Field: email -->
			<!-- Field: password -->
		<ul>
			<li><input type="text" class="list" name="first_name" placeholder="First name"></li>
			<li><input type="text" class="list" name="last_name" placeholder="Last name"></li>
			<li><input type="date" class="list" name="grad_date" placeholder="Graduation date"></li>
			<li><input type="date" class="list" name="application" placeholder="Application due date"></li>
			<li><input type="text" class="list" name="gender" placeholder="Gender"></li>
			<li><input type="text" class="list" name="city" placeholder="City"></li>
			<li><input type="text" class="list" name="state" placeholder="State"></li>
			<li><input type="submit" value="Submit"></li>
		</ul>
	</form>

</div>

<footer>
	<!-- Footer -->
		<!-- contact info -->
		<!-- last updated -->
</footer>

