<div class="hero">
	<h2 id="middleHero">Welcome to<br> 
		College Tracker!
	</h2>

</div>
<div>
	<h2 id="middleAbout">Keep track of your college applications in four easy steps</h2>
</div>
<div class="about row">
	<div class= "about-text col-lg-6 col-md-6 col-sm-6 col-xs-6">
		<p>Need a way to keep track of your college applications?<br>
			College Tracker makes it easy!<br>
			Step 1: Sign up<br>
			Step 2: Choose a college<br>
			Step 3: Start your checklist<br>
			Step 4: Choose more colleges and add more checklists!
		</p>
	</div>
	<div class= "about-image col-lg-6 col-md-6 col-sm-6 col-xs-6"><img id="about-image" class="float-right" src="http://placehold.it/350x300"></div>
	<!-- screenshots of a checklist example -->
</div>

<div id="signup">
	<%= render "users/form" %>
</div>


<footer class="footer row">
	<div class="footer-logo col-lg-4 col-md-4 col-sm-4 col-xs-4">College Tracker</div>
	<div class="footer-contact col-lg-4 col-md-4 col-sm-4 col-xs-4"></div>
	<div class="footer-contact col-lg-4 col-md-4 col-sm-4 col-xs-4">Contact Us</div>
</footer>