<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</head>
<body>
    <h1>This is a test</h1>
    <div id="div1"></div>
    <select class="popdown" id="pop" name="cars" >
    <% @colleges.each do |college| %>
        <option class="college-choice"><%= college.name %></option>
    <% end %>
   </select>
   <script>
    console.log("Tesssst");
    var globalVarTest = "";
    $("#pop").on('input',function(){
        // $(".popdown").hide();
        var link = document.createElement("a");
        var divy = document.createElement("div");
        var inputText = document.createElement("input");
        var text = this.value;
        var textNode = document.createTextNode(text);
        var formy = document.createElement("form");
        link.appendChild(textNode);
        var mainDiv = document.getElementById("div1");
        formy.appendChild(divy);
        mainDiv.appendChild(divy);
        divy.appendChild(link);
        divy.appendChild(inputText);
       
        var textClass = "." + text;
        textClass = returnNoSpaces(textClass);
        var aTestClass = returnNoSpaces(text);
        console.log(text);
        var hrefValue = "/colleges/name/";
        hrefValue += text;

        $("a").attr("href",hrefValue)
        $(link).attr("class",aTestClass);
        $(inputText).val(text);
        $(inputText).css("color","red");
        $(inputText).hide();
    });

    function returnNoSpaces(word)
    {
        var newWord = "";
        for(var i = 0;i < word.length; i ++)
        {
            if(word[i] !== ' ')
            {   
                newWord += word[i];  
            }
        }
        return newWord;
    }

   </script>
</body>

