/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	font-famly: "Helvetica Neue",Helvetica,Arial,sans-serif;
	text-shadow: 1px, 1px  black;

}

p {	
	font-weight: bold;
	font-famly: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.home {
	height: 622px;

}

div.hero {
	height: 622px;
	background-image: url(http://7-themes.com/data_images/out/54/6956386-great-waterfall-wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

div.register {
	height: 622px;
	background-color: #669966;
}

div.about {
	height: 622px;
	background-color: #669966;
}

#middleHero {
	color: white;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	background-color: rgba(0,0,0,.5);
	padding: 20px;
	font-size: 2em;

}



li {
	list-style-type: none;
}

li input {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 5px;
}

.list {
	width: 100%;
	clear: both;
	margin: 1px;
}
input, select {
	box-sizing:border-box;
}