/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {

	text-shadow: 1px, 1px  black;
}

div.home {
	height: 622px;
	background-image: url(http://7-themes.com/data_images/out/54/6956386-great-waterfall-wallpaper.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

div.about {
	height: 622px;
	background-color: #99cccc;
}

div.register {
	height: 622px;
	background-color: #669966;
}

.container {
	display: inline-block;
	clear: both;
	border: 1px solid orange;
	padding: px;
}

li {
	list-style-type: none;
}

.list {
	width: 100%;
	clear: both;
	border: 1px solid orange;
	margin: 1px;
}