/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Lobster); 
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
@import "bootstrap-sprockets";
@import "bootstrap";

/*.navbar-brand {
    max-width:100px;
    margin-right: 10%;
    border-radius: 50%;
    object-fit: cover;
}*/

.navbar {
	margin: 0px;
	border-color: none;
}

.navbar-default {
	border-color: none;
}

.navbar-btn {
	
}

#notice, #alert {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #2496D4;
	text-align: center;
}

.home, .college, .checklist, .add_checklist {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #2496D4;
	border-color: #2496D4;
	margin-right: 1.5%;
}

.register {
	float: right;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #2496D4;
	border-color: #2496D4;
	margin-right: 1.5%;
}

.login, .logout {
	float: right;
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #2496D4;
	border-color: #2496D4;
}

body {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 1px, 1px  black;
}

p {	
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0px;
}

div.home {
	height: 622px;
}

div.hero {
	height: 622px;
	background-image: url(http://a.fastcompany.net/multisite_files/coexist/imagecache/1280/poster/2012/12/1681064-poster-1280-college-works-initiative.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	font-family: 'Lobster', cursive;
	letter-spacing: .8em;
	padding: 18% 10%;
}

#middleHero {
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 4.5em;
	text-shadow: 1px 1px 1px #000, 3px 3px 5px black;
}

div.about {
	height: 500px;	
}

.about {
	padding: 8%;
	background-color: rgba(133, 192, 232, .6);
}

#middleAbout {
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

.sign-up-text {
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

div.register {
	height: 622px;
}

li {
	list-style-type: none;
}

.sign-up-div {
	padding: 0 0 5% 5%;
	font-family: 'Open Sans', sans-serif;
}

.sign-up-center {
	margin-left: 0;
}

.nifty_form input {
	width: 100%;
	padding: 0 2% 2% 0;
}

.sign-up {
	padding: 2% 0;
}

.sign-up-first {
	padding: 2% 2% 0 0;
}

#submit {
	padding: 2% 0;
}

#new-sign-up, #new-login {
	background-color: rgba(133, 192, 232, .6);
}

#login {
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

.login-center {
	margin: 0 0 0 5%;
}

#select-college {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	text-shadow: 2px 2px 2px white;
}

.main-font {
	font-family: 'Open Sans', sans-serif;
	text-shadow: 2px 2px 2px white;
	font-size: 1.1em;
}

.submit_submit {
	font-size: 1.2em;
	font-family: 'Open Sans', sans-serif;
	color: #23527C;
	border: 1px solid #2496D4;
	border-radius: 5%;
	background-color: white;
	padding-top: 20px;
}

#forgot {
	color: black;
	text-align: center;
	padding: 20px;
	font-size: 2em;
	font-family: 'Lobster', cursive;
}

.footer {
	padding: 2% 0;
	background-color: rgba(133, 192, 232, .6);
}

.footer-logo {
	color: black;
	padding: 10px;
	font-size: 1.75em;
	font-family: 'Lobster', cursive;
	text-align: center;
}

.footer-contact {
	color: black;
	font-weight: bold;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	text-align: center;
}


/*li input {
    width: 300px;
    padding: 10px;
    font-size: 18px;
    margin-bottom: 6px;
    border-radius: 5px;
}

.list {
	width: 100%;
	clear: both;
	margin: 1px;
}

input, select {
	box-sizing:border-box;
}*/





















/*     */

f.label { 
	max-width: 100%; 
}


.float-left {
	float: left;
	display: inline-block;
	text-align: right;
}

.float-right {
	float: right;
	display: inline-block;
}

.fieldWidth {
	max-width: 100%;
}
