<div id="new-login">
	<div class="row container login-center">
		
		<div class="row">
			
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6" id="login">
				<h1>Login</h1>
			</div>
			
		</div>

		<div class="row">
			
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-xs-6">
				<%= render 'form' %>
			</div>
			
		</div>

		<div class="row">

			<div class="row col-md-6 col-md-offset-3 col-sm-6 col-xs-6">
				<h1 id="forgot">Forgot Password?</h1>
				<%= render 'forgot_password_form' %>
			</div>
			
	</div>		
</div>